<h1>
  <a href="{{ pathto(master_doc) }}">mstache</a>
</h1>
<ul>
  <li>
    <a href="http://gitlab.com/ergoithz/mstache">mstache at GitLab</a>
  </li>
  <li>
    <a href="http://pypi.python.org/pypi/mstache">mstache at PyPI</a>
  </li>
  <li>
    <a href="http://gitlab.com/ergoithz/mstache/issues">Issue tracker</a>
  </li>
</ul>
<!--versions-->
